body {background-color: #000000; text-align: center; font-family: "Lucida Sans Unicode", sans-serif}
h1 {color:#e3a2d9; text-align: center}
h2 {color:#e3a2d9; text-align: center}
p{color:#e3a2d9}
button{color:#4f5250; text-align: center; font-size: 15px; background:#caebd1;}


